/* GENERAL */
* {
    margin: 0;
    padding: 0;
}
/* BOOKING */
.bookingOuter {
    position: absolute;
    top: 20px;
    /* temp reposition just to see both components during developement */
    margin-left: 900px;
    /* margin-left: 45px; */
    width: 376px;
    z-index: 3;
}
.bookingContainerTopLevel {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
}
.bookingBorder {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    display: block;
}
.bookingSpacer {
    margin-top: 16px;
    margin-bottom: 24px;
    display: block;
}
.bookingContentArea {
    line-height: 1.43;
    color: #484848;
}
 .bookingStickIt {
     position: sticky;
     top: 4rem;
 }
.bookingFormFieldsTopMargin {
    margin-top: 16px;
    margin-bottom: 8px;
}
.bookingFormFieldGuestMargin {
    margin-bottom: 16px;
}
.bookingSubmitButtonMargin {
    margin-top: 24px;
}
.bookingSubmitButtonSpan {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #ffffff !important;
}
.bookingSubmitButton {
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color,color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    cursor: pointer !important;
    padding: 10px 22px 10px 22px;
    width: 100% !important;
    margin: 0px !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    background: rgb(255, 90, 95) !important;
    border-color: transparent !important;
}
.bookingBottomLabelMargin {
    margin-top: 8px;
}
.bookingBottomLabelInner {
  text-align: center;
}
.bookingBottomLabelInnerSpan {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
 }
/* DATE RANGE PICKER */
.DRPcheckinCheckout {
    width: 326px;
    height: 42px;
    font-weight: 600;
}
.DRPcheckinCheckoutBorder {
    display: table;
    table-layout: fixed;
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 2px;
}
.DRPcheckinCheckoutTR {
    display: table-row;

}
.DRPcheckinTableCell {
    display: table-cell;

}
.DRPcheckoutTableCell {
    display: table-cell;
}
.DRPcheckinCheckoutPad {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: rgb(117, 117, 117);
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0px;
    background: rgb(255, 255, 255)

}
.DRPInputOutput {
    font-size: 16px;
    width: 150px;
    padding: 8px 10px;
    box-sizing: border-box;
}
.DRPInputOutputArrow {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 24px !important;
    height: 100%;
    
}
.DRPCalHide {
    display: none;
}
/* CALENDAR ROW */
.calRow {
    display: table;
    box-sizing: border-box;
    width: 100%;
}
/* CALENDAR CELL */
.calDayBooked {
    color: rgb(216, 216, 216) !important;
    margin: 0px;
    text-decoration: line-through;
}
.calDay {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box; 
    line-height: 12px;
    font-size: 14px;
    width: 41px; 
    height: 40px;
    padding: 13px 0;
    color: #484848;
    border: 1px double rgb(228, 231, 231);
}
.calDayNull {
    border: none;
}
/* CALENDAR */
.calInner {
    text-align: center;
    position: relative;
    top: 86px;
    left: 1px;
    width: 100%;
}
.calContainer {
    box-sizing: border-box;
    width: 332px;
    height: 308px;
    border: 1px solid rgb(228, 228, 228);
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    z-index: 3;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px,
    rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}
.arrow-top-cal_svg___dpszbt {
    position: absolute !important;
    width: 20px !important;
    height: 10px !important;
    left: 22px;
    z-index: 2 !important;
    top: 40px !important;
}
.arrow-top-cal_svg___dpszbt-right {
    left: 196px !important;
}
.arrow-top-cal_svg___whdw9f {
    fill: rgb(255, 255, 255) !important;
}
.arrow-top-cal_svg___c3dsty {
    stroke: rgb(235, 235, 235) !important;
    fill: transparent !important;
}
.SVGGuestColor {
  color: rgb(0, 132, 137);
}
.calXL {
    height: 348px !important;
}
/* CALENDAR HEADER */
.calHead {
    width: 288px;
    height: 84px;
    display: inline-block;
    text-align: center;
    font-size: 11.9px;
    line-height: 1.43;
    padding: auto 0;
}
.calHeadBtn {
    border: 1px solid #757575;
    border-radius: 3px;
    position: absolute;
    top: 18px;
}
.calHeadMonthYear {
    font-size: 11.9px;
    width: 41px; 
    height: 20px;
    line-height: 1.43;
    display: inline-block;
    text-align: center;
    color: rgb(117, 117, 117);
}
.calHeadLeft {
    left: 22px;
}
.calHeadRight {
    right: 22px;
}
.renderUl {
    top: 62px;
}
.liRender {
    display: inline-block;
}
.strongRender {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: rgb(72, 72, 72);
}
.inputRender {
    border: none;
}
.spanRender {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
.labelRender {
    font-size: 17px !important;
    font-weight: 200 !important;
    margin: 0px !important;
    padding: 0px 0px 4px !important;
}
.calHeadBanner {
    display: block;
    text-align: center;
    height: 25px;
    width: 288px;
    padding-top: 22px;
    padding-bottom: 37px;
}
.calHeadWide {
    position: absolute;
    left: 21px;
    text-align: center;

}
.calHeadDays {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 64px;
    left: 9.5px;
    text-align: center;
    padding: 0px 13px;
    width: 313px;
    height: 22px;
}
.svg {
    padding: 6px 9px;
    display: block;
    color: rgb(117, 117, 117);
}
.PRBDividerContainer {
    margin-top: 16px;
    margin-bottom: 16px;
}
.PRBDivider {
    width: 326px;
    border-top: 1px solid #EBEBEB;

}
.PRBPriceBanner {
    display: inline-block;
}
.PRBPriceHead {
    font-weight: 800 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
    font-size: 22px !important;
}
.PRBRatingStar {
    display: inline-block !important;
    color: rgb(0, 132, 137) !important;
    font-size: 9px !important;
    height: 10px !important;
    margin-right: 1px !important;
    width: 9px !important;
}
.PRBRatingCount {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}

/* GUESTS */
.guestFieldInner {
    width: 100% !important;
    position: relative !important;
}
.guestLabelStr {
    font-size: 17px !important;
    font-family: Circular,-apple-system,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}
.guestButton {
    text-align: left !important;
    line-height: normal !important;
    display: block !important;
    width: 100% !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 2px !important;
    padding: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-image: initial !important;
}
.guestButtonInner {
    margin-left: 8px;
    margin-right: 8px;
}
.guestButtonText {
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848 !important;
}
.guestButtonTable {
    display: table;
    width: 100%;
}
.guestButtonTableCell {
    display: cell;
    width: 100%;
    vertical-align: middle;
}
.guestExpandContainer {

    position: absolute !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
    width: 100% !important;
    min-width: 280px !important;
    text-align: left !important;
    margin-bottom: 16px !important;
    box-sizing: border-box !important;
    z-index: 2 !important;
    left: 0px !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 3px !important;
    padding: 0px 16px !important;

}
.guestExpandContainerMargin {
    margin-top: 16px;
    margin-bottom: 16px;
}
.guestExpandContainerGuestType {
    margin-top: 16px;
    margin-bottom: 16px;
    
}
.guestExpandContainerGuestTypeInner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}
.guestExpandContainerGuestTypeInnerTable {
    display: table !important;
    width: 100% !important;
    border-spacing: 0px !important;
}
.guestExpandContainerGuestTypeInnerTableCell {
    display: table-cell !important;
    width: 100% !important;
    vertical-align: middle !important;
}
.guestExpandContainerGuestTypeTableLabel {
    display: table !important;
    margin-right: 12px !important;
}
.c {
    display: table !important;
    margin-right: 12px !important;
}
.guestExandContainerGuestTypeInnerTableCellRight {
    display: table-cell !important;
    vertical-align: middle !important;
}
.guestExpandContainerCellRightTable {
    display: table !important;
    width: 120px !important;
}
.guestExpandContainerInnerTableCellIncrement {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: left !important;
}
.guestExpandContainerInnerTableCellDecrement {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: right !important;
}

.incrementBtn {
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: relative !important;
    touch-action: manipulation !important;
    height: 32px !important;
    width: 32px !important;
    box-shadow: none !important;
    border-radius: 50% !important;
    border-style: solid !important;
    border-color: rgb(0, 132, 137) !important;
    background: transparent !important;
    border-width: 1px !important;
    
}
.incrementBtnSpan {
    display: inline-block !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.guestExpandRightInnerGuestTypeCount {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}
.guestExpandRightInnerCount {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
}
.guestExpandContainerGuestNotify {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    margin-bottom: 16px;
}
.guestHide {
    display: none;
}
/* Availability Container */
.ACTopMargin {
    margin-bottom: 16px;
}
.AVTopDiv {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sansACBottomMargin-serif !important;
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}
.ACContent {   
    display: block !important;
    left: 0px !important;
    margin-left: -22px !important; 
}
.ACDoubleCalContainer {
    box-sizing: border-box;
    width: 632px;
    height: 303px;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    z-index: 3;
    background: rgb(255, 255, 255);
}
/*  */
.ACCalHeadDaysRight {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 64px;
    left: 316.5px;
    text-align: center;
    padding: 0px 13px;
    width: 313px;
    height: 22px;
}
.ACCalHeadWideRight {
    position: absolute;
    left: 334px;
    text-align: center;

}
.ACCalHeadRight {
    width: 288px;
    height: 84px;
    display: inline-block;
    text-align: center;
    font-size: 11.9px;
    line-height: 1.43;
    padding: auto 0;
}
.ACCalHeadBanner {
    display: block;
    text-align: center;
    height: 25px;
    width: 288px;
    padding-top: 22px;
    padding-bottom: 37px;
}
.ACCalInnerRight {
    text-align: center;
    position: relative;
    top: -114px;
    left: 328px;
    width: 100%;
}
.ACCDoubleCalendarArea {
    display: inline-block;
}
.ACSectionOffset {
    /* temp for testing */
    position: relative;
    top: 50px;
    left:60px;

}
.ACCalInnerLeft {
    text-align: center;
    position: relative;
    top: 86px;
    left: 22px;
    width: 100%;
}
.ACCalHeadBtnLeft {
    left: 6px;
}

.ACCalHeadBtnRight {
    right: 8px;
}

.ACBottomMargin {
    position: relative;
    width: 632px;
    top: -100px;
    left: -22px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: block;
}
.ACBottomDivider {
    border-bottom: 1px solid #EBEBEB !important;
}

.ACContentInfoBanner {
    margin-left:20px;
    margin-right:20px;
}